<!-- Pulls code from /views/header.ejs -->
<%- include('header'); -%>

<h2>This is the about page</h2>
<p>This is a paragraph for the about page. This is a paragraph for the about page. This is a paragraph for the about page. This is a paragraph for the about page. </p>

  <!-- Pulls code from /views/footer.ejs -->
  <%- include('footer'); -%>